{% load photo_extras %}

<style id="file-upload-styles">
  .file_upload_box div { padding: 0; margin: 0; }
  .file_upload_box { position: relative; width: 249px; height: 250px; }
  .file_upload_box .box {
      position: relative; height: 100%; padding: 1px 0; }
  .file_upload_box input {
      position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5;
      opacity: 0; cursor: pointer; width: 100%; height: 100%; }
  .photo_box_content_wrapper {
      padding: 0 1px; width: 247px; height: 250px; display: table; }
  .box_content {
      display: table-cell; text-align: center; vertical-align: middle; }
  .file_upload_box svg {
      padding-top: 15px; margin: 0 auto; max-width: 247px;
      max-height: 200px; }
  .file_upload_box .box_text {
      padding: 15px; color: #FFF8A8; text-align: center; line-height: 20px;
      font-size: 14px; }
  .file_upload_box .aux {
      position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      border-color: #FFF8A8; }
  .file_upload_box .aux div {
      position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      border-radius: 3px; }
  .file_upload_box .bg { z-index: 2; background: #fff8a8; opacity: .05; }
  .file_upload_box.hover .bg { opacity: .15; }
  .file_upload_box .bd {
      z-index: 4; border: 1px solid rgba(255,248,168,0.6); }
  .file_upload_overlay { padding-top: 10px; cursor: pointer; }
</style>

<script id="photo_upload_functions">
function append_photo_upload(
    to, bucket, success, existing_img_url_or_elt) {
  /* Append the necessary HTML to the `to` html element in order to upload a
   * photo, and when that all works, call success(new_file_name). The server
   * picks the file name because every file name has to be unique. If you
   * specify existing_img_url_or_elt, show that photo instead of the upload
   * button.
   *
   * bucket should be, like, {{ bucket.as_javascript }} which turns into
   * something like {'name': 'my-bucket-name', 'is_public': true,
   * 'max_width_or_height': 800} */
  var template = Handlebars.compile($('#photo_upload_template').html());
  var element_dom = template({});
  var $element = $(element_dom).appendTo(to);

  setup_file_upload_hover($element);
  set_up_file_upload($element, bucket, success);
  attach_directions($element);
  if (existing_img_url_or_elt) {
    overlay_upload(to, existing_img_url_or_elt);
  }

  return $element;
}

function attach_directions($element) {
  if (window.is_mobile) {
    var upload_message_template_id = 'mobile_file_upload_message_template';
  } else {
    var upload_message_template_id = 'desktop_file_upload_message_template';
  }
  var msg_tmpl = Handlebars.compile(
      $('#' + upload_message_template_id).html());
  $element.find('.box_text').prepend($(msg_tmpl()));
}

function overlay_upload(wrapper, img_url_or_elt) {
  if (typeof img_url_or_elt == 'string') {
    overlay_upload_with_image(to, img_url_or_elt);
  } else {
    overlay_upload_with_elt(to, img_url_or_elt);
  }
}

function overlay_upload_with_image(wrapper, existing_img_url) {
  var img = $('<img>').attr('src', existing_img_url);
  overlay_upload_with_elt(wrapper, img);
}

function overlay_upload_with_elt(wrapper, elt) {
  wrapper.find('.file_upload_overlay').remove();
  var uploader = wrapper.find('.file_upload_box').hide();
  elt.addClass('file_upload_overlay').appendTo(wrapper).click(function() {
    uploader.find('input[type=file]').click();
  });
}

function setup_file_upload_hover($element) {
  $element.find('.file_upload_box').hover(function() {
    $(this).addClass('hover');
  }, function() {
    $(this).removeClass('hover');
  });
}

function set_up_file_upload($element, bucket, success) {
  $element.find('.file_input').change(function() {
    var $file_input = $(this);
    var file = file_from_input($file_input);
    // Sometimes this happens but I have no idea why.
    if (typeof file == 'undefined') {
      return;
    }
    var format_wrapper = $element.find('.format_wrapper');
    var file_format = format_wrapper.find('.file_format');
    var required_wrapper = $element.find('.required_wrapper').hide();
    var uploading = $element.find('.uploading');
    var buttons = $element.find('button');
    {% autoescape off %}
    var VALID_IMAGE_TYPES = {% valid_image_types %};
    {% endautoescape %}
    if (VALID_IMAGE_TYPES.indexOf(file.type) >= 0) {
      format_wrapper.hide();
      if ($element.find('.file_upload_box').is(':hidden')) {
        if (buttons.length) {
          buttons.each(function() {
            $(this).attr('data-original-text', $(this).text()).attr(
                'disabled', true).text('Uploading...');
          });
        } else {
          uploading.show();
        }
      }
      sign_and_upload($file_input, bucket, function(file_name) {
        success(file_name);
        uploading.hide();
      });
    } else {
      if (file.type == 'application/pdf') {
        file_format.text('PDF');
      } else if (file.type == 'text/html') {
        file_format.text('HTML');
      } else {
        file_format.text(file.type);
      }
      format_wrapper.show();
    }
  });
}

function file_from_input($file_input) {
  return $file_input[0].files[0];
}

function sign_and_upload($file_input, bucket, success) {
  var xhr = new XMLHttpRequest();
  var file = file_from_input($file_input);
  var url_root = '/sign_upload/' + bucket.name + '/';
  var url = (
      url_root + '?file_type=' + file.type + '&do_not_cache=' + Math.random());
  xhr.open('GET', url);
  var status_div = $file_input.parent().find('.box_text');
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);
        var on_successful_upload = function() {
          $file_input.attr('data-success', 'true');
          status_div.text('Success! Thank you :)');
          success(response.destination_file_name);
        };
        var on_failure = function(evt) {
          $file_input.attr('data-success', 'false');
          status_div.text(
              'There was an error uploading your photo :( '
              + evt.statusText);
        };
        status_div.text('Uploading...');
        upload_and_callback(
            file, bucket, response.presigned_post,
            on_successful_upload, on_failure);
      } else {
        status_div.text(
            'Whoops, our software seems to be broken. '
            + 'The development team has been informed.');
      }
    }
  };
  xhr.send();
}

function upload_and_callback(
    file, bucket, presigned_post, on_successful_upload, on_failure) {
  var xhr = new XMLHttpRequest();
  // If you just set up your buckets and you're getting 307 responses, that's
  // Amazon taking a moment to get their act together. In the meantime, if you
  // really really need to test this out, you can try hacking it to use a more
  // qualified url like xhr.open('POST',
  // 'https://my-bucket-name.s3.us-east-2.amazonaws.com');
  xhr.open('POST', presigned_post.url);

  var postData = new FormData();
  for (key in presigned_post.fields) {
    postData.append(key, presigned_post.fields[key]);
  }
  resize(file, bucket.max_width_or_height, function(resized_file) {
    postData.append('file', resized_file);

    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        if (xhr.status === 200 || xhr.status === 204) {
          on_successful_upload();
        } else {
          on_failure(xhr);
        }
     }
    };
    xhr.send(postData);
  });
}

function resize(file, max_width_or_height, success) {
  // Thank you
  // https://medium.com/hootsuite-engineering/mobile-photo-uploads-with-html5-f7ea174ef128
  var reader = new FileReader();

  reader.onloadend = function () {
    var data_url = reader.result;
    var file_type = file.type;

    var image = new Image();
    image.src = data_url;

    image.onload = function () {
      var width = image.width;
      var height = image.height;
      var should_resize = (width > max_width_or_height) || (
          height > max_width_or_height);

      if (!should_resize) {
        success(file);
        return;
      }

      var new_width;
      var new_height;

      if (width > height) {
        new_height = height * (max_width_or_height / width);
        new_width = max_width_or_height;
      } else {
        new_width = width * (max_width_or_height / height);
        new_height = max_width_or_height;
      }

      var canvas = document.createElement('canvas');

      canvas.width = new_width;
      canvas.height = new_height;

      var context = canvas.getContext('2d');

      context.drawImage(this, 0, 0, new_width, new_height);

      success(data_uri_to_blob(canvas.toDataURL(file_type), file_type));
    };

    image.onerror = function (error_obj_not_really_helpful) {
      alert('For some reason, I was unable to load your image file');
      // I can get this to happen by renaming a random file with the jpg
      // suffix.
      window.onerror('Couldnt load an image of type ' + file.type);
    };
  }

  reader.onerror = function () {
    // I was unable to trigger this so I have no idea if there are any helpful
    // arguments to this function
    alert(
        'For some reason, I was unable to access the data in your image file');
    window.onerror('Couldnt read an image file of type ' + file.type);
  }

  reader.readAsDataURL(file);
}

function data_uri_to_blob(data_uri, file_type) {
  // Thank you
  // https://stackoverflow.com/questions/13990673/upload-canvas-data-to-s3
  var binary = atob(data_uri.split(',')[1]);
  var array = [];
  for(var i = 0; i < binary.length; i++) {
    array.push(binary.charCodeAt(i));
  }
  return new Blob([new Uint8Array(array)], {type: file_type});
}
</script>

{% comment %}
  verbatim because I'm putting handlebars templates in django templates and
  both use {{ }}
{% endcomment %}
{% verbatim %}
<script id="mobile_file_upload_message_template" type="text/x-handlebars-template">
  <p>Click to <b>take a photo</b> or <b>upload photo</b></p>
</script>
<script id="desktop_file_upload_message_template" type="text/x-handlebars-template">
  <p><b>Choose photo</b> or <b>drag here</b></p>
</script>
<script id="photo_upload_template" type="text/x-handlebars-template">
  <div class="file_upload_wrapper">
    <div class="file_upload_box">
      <div class="box">
        <input name="file" style="display: block;" type="file" class="file_input"
            tabindex="0" accept="image/*">
        <div class="photo_box_content_wrapper">
          <div class="box_content">
            <div class="box-image">
              <svg class="icon-cloud" width="132px" height="85px" viewBox="0 0 132 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g sketch:type="MSArtboardGroup" fill="#fff8a8">
                    <path d="M79,85 L108,85 L108,84.9566146 C121.385069,84.1801879 132,73.0797189 132,59.5 C132,46.906961 122.871557,36.445984 110.870729,34.373127 C110.956288,33.426871 111,32.4685402 111,31.5 C111,14.1030304 96.8969696,0 79.5,0 C65.9387999,0 54.3791415,8.56961829 49.9409394,20.5889401 L49.9409394,20.5889401 C47.0317445,16.5954404 42.3189711,14 37,14 C28.163444,14 21,21.163444 21,30 C21,31.4892152 21.2034561,32.9309107 21.5840885,34.2988067 C9.35984257,36.1828033 0,46.7483475 0,59.5 C0,73.4162144 11.1475089,84.7287886 25,85 L59,85 L59,66 L43,66 L69,32 L95,66 L79,66 L79,85 Z" sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="box_text">
              <p>Size limit: 10 MB</p>
            </div>
          </div>
        </div>
        <div class="aux">
          <div class="bg"></div>
          <div class="bd"></div>
        </div>
      </div>
    </div>
    <div class="start-hidden uploading">
      Uploading...
    </div>
    <div class="start-hidden required_wrapper">
      <span>Please upload a photo</span>
      <div class="error_triangle"></div>
    </div>
    <div class="start-hidden format_wrapper">
      <span>
        I'm afraid we don't support <span class='file_format'>PDF</span>!
        .jpg files are best, or simply take a photo with your phone.
      </span>
      <div class="error_triangle"></div>
    </div>
  </div>
</script>
{% endverbatim %}
